.todo-list-paper{
    background-color: gainsboro;
    width: 30vh;
    margin: auto;
    margin-top: 5vh;
    border: 1px solid black;
    text-align: center;
}

.todo-list-check{
    margin-left: 3vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    width: 2vh;
    height: 2vh;
}

.todo-list-title{
    text-align: center;
}

.todo-list-content{
    border-bottom: 3px dashed grey;
}